name: Java CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.9
      - name: checkstyleMain
        run: ./gradlew checkstyleMain
        working-directory: ./app
      - name: test
        run: ./gradlew test
        working-directory: ./app